<section id="content" role="main">

    <!-- AUI Sidebar -->
    <div class="aui-sidebar">
        <div class="aui-sidebar-wrapper">
            <div class="aui-sidebar-body">


                <!-- AUI Navigation -->
                <nav class="aui-navgroup aui-navgroup-vertical">
                    <div class="aui-navgroup-inner">

                        <div class="sidebar-pic"><img src="static/images/sidebar.png" width="100%"></div>
                        <!-- A "Tier One" Sidebar group will display all of its nav items, but all nav items MUST have an AUI Icon
                             which will be used when the sidebar is collapsed -->
                        <div class="aui-sidebar-group aui-sidebar-group-tier-one">

                            <!-- in a "Tier One" Sidebar group, AUI Nav heading is ignored, and each nav item's label will be used
                                 as the tooltip text instead -->
                            <div class="aui-nav-heading aui-nav-heading-c" title="Stuff" style="border-top:0 !important;">
                                <strong>Team members</strong>

                            </div>

                            <div class="aui-c-addedpeople">
                                <ul>
                                  <li ng-repeat="mate in model.savedTeam track by $index" ng-show="!mate.pending">
                                      <span class="aui-avatar aui-avatar-project aui-avatar-medium animated zoomIn" ng-click="toggleMate(mate)">
                                            <span class="aui-avatar-inner">
                                                <img ng-src="{{mate.photo}}">
                                            </span>
                                        </span>
                                  </li>
                                  <li>
                                      <span class="aui-avatar aui-avatar-project aui-avatar-medium" ng-click="openPopup()">
                                            <span class="aui-avatar-inner">
                                                <img ng-src="static/images/invite.png">
                                            </span>
                                        </span>
                                  </li>
                                </ul>
                            </div>

                            <div class="aui-nav-heading aui-nav-heading-c" title="Stuff" style="border-top:0 !important; padding-top:0px !important;">
                                <strong>Pending invites</strong>
                            </div>

                            <div class="aui-c-addedpeople" style="margin-bottom:30px;">
                                <h3 class="nothing" ng-if="model.savedTeam.length < 1">You haven't invited anyone yet</h3>
                                <ul ng-if="model.savedTeam.length">
                                    <li ng-repeat="mate in model.savedTeam track by $index" ng-show="mate.pending">
                                        <span class="aui-avatar aui-avatar-project aui-avatar-medium animated zoomIn pending" ng-click="toggleMate(mate)">
                                            <span class="aui-avatar-inner">
                                                <img ng-src="{{mate.photo}}">
                                            </span>
                                        </span>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </nav>
            </div>


        </div>
    </div><!-- end AUI Sidebar -->

    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
                <!-- Page content goes here -->
            </section>
        </div>
    </div>

    <!-- popup -->
    <div class="aui-c-popup" ng-show="ui.openPopup">
        <div class="shadow animated fadeInAui"  ng-class="{'fadeOutAui' : ui.closePopupAnimation}" ng-click="closePopup()"></div>
        <div class="body  animated fadeInUp" ng-class="{'fadeOutUp' : ui.closePopupAnimation}">
            <div class="close-but" ng-click="closePopup()"></div>

            <div class="aui-c-head">
                <h2 class="title">Build your team</h2>
                <div class="aui-c-slider" ng-attr-style="{{model.team.length > 6 ? 'overflow:auto;': ''}}">
                    <ul ng-attr-style="width: {{62*(model.team.length + 1) + 'px'}};">
                        <li>
                            <span class="aui-avatar aui-avatar-project aui-avatar-large animated zoomInAui">
                                <span class="aui-avatar-inner">
                                    <img ng-src="static/images/kevin.jpg">
                                </span>

                            </span>
                        </li>
                        <li ng-repeat="mate in model.team track by $index" >
                            <span class="aui-avatar aui-avatar-project aui-avatar-large  animated zoomInAui"
                                ng-class="{'pending' : mate.pending}"
                                ng-click="toggleMate(mate)">
                                <span class="aui-avatar-inner">
                                    <img ng-src="{{mate.photo}}">
                                </span>

                            </span>
                            <span class="aui-avatar-chosen animated zoomInAuiFast" ng-show="mate.justAdded"></span>
                        </li>
                    </ul>
                </div>

                <div class="aui-c-search">
                    <input class="text" type="text" id="text-input" name="text-input" placeholder="Invite some team members..."  ng-model="ui.searchTeamMate">
                </div>
            </div>

            <div class="aui-c-search-res">
                <ul>
                    <li ng-repeat="mate in model.people  | filter:ui.searchTeamMate| limitTo:40 track by $index" ng-class="{'pending' : mate.pending}"
                        ng-if="!(mate.isChosen && !mate.justAdded && !mate.pending)">
                        <span class="aui-avatar aui-avatar-project aui-avatar-large" ng-click="toggleMate(mate, true)">
                            <span class="aui-avatar-inner">
                                <img ng-src="{{mate.photo}}">
                            </span>
                        </span>
                        <span class="aui-i-resico" ng-class="{'chosen' : mate.isChosen}" ng-click="toggleMate(mate)" ng-show="!mate.pending"
                        ></span>
                        <span class="aui-i-pending" ng-show="mate.pending"><h4>Invite sent</h4> <p ng-click="chooseMate(mate.id)">Resend</p></span>
                        <h3 ng-if="!mate.email">{{mate.name}}</h3>
                        <p ng-if="!mate.email">{{mate.team}}</p>
                        <h3 ng-if="mate.email" class="email">{{mate.email}}</h3>
                    </li>
                </ul>
            </div>

            <button class="aui-button aui-button-primary aui-c-invitebut" ng-click="saveTeamMates()">Send invites</button>
        </div>
    </div>
    <!-- end popup -->
</section>